.btnCart {
  width: 100%;
  padding: 2% 2%;
  background: #ff5e14;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  margin-top: -50px;
  border: 2px solid #ff5e14;
  transition: 0.3s ease-in-out;
}

.btnCart:hover {
  background: white;
  color: #ff5e14;
  border: 2px solid #ff5e14;
  transition: 0.3s ease-in-out;
}
