.weight {
  font-weight: 500;
}

.heading1 {
  font-size: 5rem;
  line-height: 1.2;
  font-weight: 700;
  color: #00235a;
}

.heading2 {
  font-size: 3.75rem;
  line-height: 1.3;
  font-weight: 800;
  color: #00235a;
}

.heading3 {
  font-size: 1.625rem;
  font-weight: 800;
  color: #00235a;
}

.heading4 {
  font-size: 1.625rem;
  font-weight: 600;
  color: #00235a;
}

.borderCircle {
  border-radius: 9999px;
}

.colorheading {
  color: #00235a;
}
.colortheme {
  background-color: #ff5e14;
}
.colortheme:hover {
  background-color: #ff5e16;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.item {
  font-family: Yantramanav;
}

.item:hover,
.item:active {
  color: #ff5e14 !important;
}

.mytext {
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
}

.pImage {
  height: auto;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .pImage {
    height: 650px;
    width: auto;
  }
}

button:focus {
  outline: none;
}

.productImage {
  transition: 0.2s ease-in-out;
}

.productImage:hover {
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
}
