.weight {
  font-weight: 500;
}

.heading1 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
  color: #00235a;
}

.heading2 {
  font-size: 3.75rem;
  line-height: 1.3;
  font-weight: 800;
  color: #00235a;
}

.heading3 {
  font-size: 1.625rem;
  font-weight: 800;
  color: #00235a;
}

.heading4 {
  font-size: 1.625rem;
  font-weight: 600;
  color: #00235a;
}

.borderCircle {
  border-radius: 9999px;
}

.colorheading {
  color: #00235a;
}
.colortheme {
  background-color: #ff5e14;
}
.colortheme:hover {
  background-color: #ff5e16;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.item {
  font-family: Yantramanav;
}

.item:hover,
.item:active {
  color: #ff5e14 !important;

  padding-bottom: 15px;
}

.mytext {
  color: #00235a;
  font-size: 1.1rem;
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .pImage {
    height: 500px;
    width: auto;
    margin: 0 auto;
  }
}

button:focus {
  outline: none;
}

.productImage {
  transition: 0.2s ease-in-out;
}

.productImage:hover {
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
}

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
}

.mytitle {
  font-size: 50px;
  font-weight: 600;
}

.hero {
  height: 40vh;
}
.pTitle {
  font-size: 30px;
}

.generalHeading {
  font-size: 30px;

  font-weight: 800;
}

.rev {
  padding: 10%;
}

.cfont {
  font-size: 34px;
}

.sfont {
  font-size: 1.625rem;
  font-weight: 600;
  color: #00235a;
}

.shero {
  height: 50vh;
}
.slogo {
  width: 150px;
  height: 150px;
}

.homHero {
  height: 100vh;
}
.homHeading {
  line-height: "1rem";
  font-size: 5rem;
}

.deskDont {
  display: none;
}

@media only screen and (max-width: 640px) {
  .deskDont {
    display: block;
  }
  .homHeading {
    font-size: 2rem;
    line-height: 2rem;
  }
  .homHero {
    height: 60vh;
  }
  .slogo {
    width: 80px;
    height: 80px;
  }
  .shero {
    height: 20vh;
  }
  .sfont {
    font-size: 18px;
    font-weight: 600;
    color: #00235a;
  }
  .stext {
    font-size: 14px;
    font-weight: 300;
  }

  .generalHeading {
    font-size: 24px;

    font-weight: 600;
  }
  .cfont {
    font-size: 24px;
  }

  .rev {
    padding: 5%;
  }
  .pTitle {
    font-size: 22px;
  }

  .mytitle {
    font-size: 24px;
    font-weight: 600;
  }
  .hero {
    height: 20vh;
  }
  .dont {
    display: none;
  }
  .centered {
    margin: auto !important;
  }
  .moveRight {
    margin-left: 30px;
    margin-right: -30px;
  }
  .pImage {
    height: 200px;
    width: auto;
    margin: auto !important;
  }
}
