.title {
  color: #9e9ea1;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.effect {
  border: 1px solid rgba(157, 157, 161, 0.3);
  border-bottom: 3px solid #ff5e14;
  transition: 0.2s ease-in-out;
  border-radius: 3px;
}

.effect:hover {
  box-shadow: rgba(50, 50, 93, 0.1) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.num {
  color: #00235a;
  padding-top: 2%;
  font-size: 2rem;
  font-weight: 600;
  margin-top: -1rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
